/*========================================*/
/*--------------- [_Global] --------------*/
/*========================================*/
.custom-container {
	position: relative;
	max-width: 1730px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}
.custom-md-container {
	position: relative;
	max-width: 1640px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}
/* Preloader */
.ctn-preloader {
	align-items: center;
	cursor: none;
	display: flex;
	height: 100%;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.ctn-preloader .animation-preloader {
	position: absolute;
	z-index: 100;
}
/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
	animation: spinner 1s infinite linear;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: var(--primary-color); /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}
/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
	font: bold 5em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
	animation: letters-loading 4s infinite;
	color: var(--primary-color);
	content: attr(data-text-preloader);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: rotateY(-90deg);
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(13, 58, 98, 0.3);
	position: relative;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
	animation-delay: 0.2s;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
	animation-delay: 0.4s;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
	animation-delay: 0.6s;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
	animation-delay: 0.8s;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
	animation-delay: 1s;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
	animation-delay: 1.2s;
}
.ctn-preloader .loader-section {
	background-color: var(--bg-white);
	height: 100%;
	position: fixed;
	top: 0;
	width: calc(50% + 1px);
}
.ctn-preloader .loader-section.section-left {
	left: 0;
}
.ctn-preloader .loader-section.section-right {
	right: 0;
}
/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
	opacity: 0;
	transition: 0.3s ease-out;
}
/* Efecto de cortina */
.loaded .loader-section.section-left {
	transform: translateX(-101%);
	transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
	transform: translateX(101%);
	transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animación del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
	0%,
	75%,
	100% {
		opacity: 0;
		transform: rotateY(-90deg);
	}

	25%,
	50% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

/* Tamaño de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
		font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
		font: bold 2em 'Montserrat', sans-serif;
	}
}

//Kursor Style
div[class*='kursor'].kursor--1 {
	background: rgba(var(--primary-color-rgb), 0.2);
	border: none;
}
div[class*='kursor'].kursor--1 + .kursorChild {
	background: rgba(var(--primary-color-rgb), 0.4);
}
div[class*='kursor'].kursor--1.kursor--down {
	width: 75px;
	height: 75px;
}
.section-gap {
	padding: 110px 0;
}
.bg-pos-center-center {
	background-position: center center;
}
.bg-pos-center-bottom {
	background-position: center bottom;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell {
	display: table-cell;
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.slide-bg-1 {
	background-image: url(../images/bg/bg1.jpg);
}
.slide-bg-2 {
	background-image: url(../images/bg/bg2.jpg);
}
.slide-bg-3 {
	background-image: url(../images/bg/bg3.jpg);
}

// Owl Carousel Nav Prev
.homepage-slides .owl-nav button.owl-prev,
.homepage-slides .owl-nav button.owl-next {
	font-size: 20px;
	height: 50px;
	left: 50px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
	background: var(--bg-white);
	transform: translateY(-50%);
	transition: all 600ms ease 0ms;
	opacity: 0;
	visibility: hidden;
}
.homepage-slides:hover .owl-nav button.owl-prev,
.homepage-slides:hover .owl-nav button.owl-next {
	opacity: 1;
	visibility: visible;
}
.homepage-slides .owl-nav button.owl-next {
	left: auto;
	right: 50px;
}

// Order List
.order-list {
	li {
		display: inherit;
		position: relative;
		padding-left: 30px;
		margin: 12px 0px;
		&:before {
			position: absolute;
			content: '\f00c';
			color: var(--primary-color);
			font-weight: 600;
			left: 0px;
			top: 0px;
			font-family: "Font Awesome 5 Free";
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.primary-color {
		li {
			&:before {
				color: var(--primary-color);
				font-weight: 600;
			}
		}
	}
	&.white-color {
		li {
			color: var(--text-white);
		}
	}
}
.list-items {
	li {
		display: inherit;
		padding: 5px 0;
		a {
			color: inherit;
			font-size: inherit;
			&:hover {
				color: var(--primary-color);
			}
		}
	}
}
#curve {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(180deg);
}

#curve path {
	fill: #fff;
}

// Text Under Line
.text-under-line {
	position: relative;
	display: inline-block;
}
.text-under-line:before {
	content: '';
	background-color: var(--primary-color);
	height: 2px;
	width: 4.75rem;
	top: 15px;
	right: -90px;
	position: absolute;
}

/*Owl Carousel Nav Prev*/
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	font-size: 20px;
	height: 70px;
	left: 45px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
	background: var(--primary-color);
	@include translate(0, -50%);
	@include transition(all 600ms ease 0ms);
	opacity: 0;
	visibility: hidden;
}

.owl-carousel:hover .owl-nav button.owl-prev,
.owl-carousel:hover .owl-nav button.owl-next {
	opacity: 1;
	visibility: visible;
}
.owl-carousel:hover .owl-nav button.owl-prev {
	left: 15px;
}
.owl-carousel:hover .owl-nav button.owl-next {
	right: 15px;
}
.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 45px;
}
.owl-carousel .owl-nav button i {
	color: var(--text-white);
	vertical-align: middle;
}

//Pagination
.pagination-nav {
	.pagination-list> {
		li {
			text-align: center;
			margin-right: 8px;
			display: inline;
			&:last-child {
				margin-right: 0;
			}
			>a {
				color: #565151;
				font-weight: 500;
				height: 54px;
				width: 54px;
				line-height: 54px;
				display: inline-block;
				border: 1px solid #ddd;
				position: relative;
				margin-bottom: 15px;
			}
			&:hover {
				a {
					border: 1px solid transparent;
					background: var(--primary-color);
					color: var(--text-white);
				}
			}
			&.active a {
				border: 1px solid transparent;
				background: var(--primary-color);
				color: var(--text-white);
			}
		}
	}
}

//Percentage
.percentage {
	font-size: 12px;
	float: right;
}

//Single Post Navigation
.single-post-navigation {
	.navigation-links {
		a {
			@include transition(all 300ms ease-out 0s);
		}
		.nav-next {
			a {
				i {
					@include transition(all 300ms ease-out 0s);
					margin-left: 8px;
				}
				&:hover {
					i {
						margin-left: 3px;
					}
				}
			}
		}
		.nav-previous {
			a {
				i {
					@include transition(all 300ms ease-out 0s);
					margin-right: 8px;
				}
				&:hover {
					i {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

//404 page Styles
.error-area {
	background-size: cover;
	background-position: center center;
}
.error-inner .error-title {
	font-size: 190px;
	line-height: 240px;
	@media screen and (max-width: 1024px){
		font-size: 135px;
		line-height: 148px;
	}
}
.error-inner .error-text {
	font-size: 40px;
}
.error-inner p {
	max-width: 545px;
	margin: 20px auto 30px;
}
.pintarest-list {
	display: flex;
	flex-wrap: wrap;
}
.pintarest-list li {
	width: 80px;
	height: 80px;
	padding: 5px;
}

.fa-phone.alt {
	@include transform(rotate(90deg));
}
.fa-phone.alt {
	@include transform(rotate(90deg));
}

.ico-font:before {
	font-size: 30px;
	line-height: 1.3;
}
.opening-hours > li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #9d98bf;
}
.opening-hours > li > p {
	margin-bottom: 22px;
}

.before-after-slider1 {
	margin-bottom: -190px;
	z-index: 1;
	.twentytwenty-handle {
		height: 70px;
		width: 50px;
		margin-left: -30px;
		margin-top: -40px;
		&:before {
			width: 4px;
			height: 320px;
			left: 50%;
			margin-left: -2px;
			margin-bottom: 40px;
		}
		&:after {
			width: 4px;
			height: 320px;
			left: 50%;
			margin-left: -2px;
			margin-top: 40px;
		}
	}
	&.style2 {
		margin-bottom: 0;
	}
}
