/*========================================*/
/*------------- [_Mobile_Nav] ------------*/
/*========================================*/
.mobile-nav-wrapper {
	position: fixed;
	z-index: 991;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
	transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
	transition: transform 400ms ease 400ms, visibility 400ms ease 400ms;
	transition: transform 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
	visibility: hidden;
}
.mobile-nav-wrapper.expanded {
	opacity: 1;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	visibility: visible;
	-webkit-transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
	transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
	transition: transform 400ms ease 0ms, visibility 400ms ease 0ms;
	transition: transform 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}
.mobile-nav-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.9;
}
.mobile-nav-content {
	width: 100%;
	max-width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	background-color: var(--secondary-color);
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 30px 15px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
	transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
	transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms;
	transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}
.mobile-nav-content::-webkit-scrollbar {
	display: none;
}
.mobile-nav-wrapper.expanded .mobile-nav-content {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
	transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
	transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms;
	transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
}
.mobile-menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-list .menu-has-sub button {
	width: 30px;
	height: 30px;
	background-color: var(--bg-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--secondary-color);
	border: none;
	outline: none;
	float: right;
	margin-top: 5px;
}
.mobile-menu-list li.current > a {
	color: var(--text-white);
}
.mobile-menu-list > li  {
	border-top: 1px solid rgba(255,255,255,0.10);
}
.mobile-menu-list > li > a {
	font-size: 16px;
	color: var(--text-white);
	display: block;
	line-height: 42px;
}
.mobile-menu-list > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	padding-left: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-list > li > ul > li + li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-list > li > ul > li > a {
	font-size: 15px;
	color: #ddd;
	display: block;
	line-height: 42px;
}
.mobile-menu-list > li > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 15px;
	display: none;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-list > li > ul > li > ul > li + li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-list > li > ul > li > ul > li > a {
	font-size: 14px;
	color: #ddd;
	display: block;
	line-height: 42px;
}
.mobile-menu-list > li > ul > li > ul > li > ul {
	display: none;
}
.mobile-sidebar-contact {
	margin-top: 60px;
	margin-bottom: 30px;
	li {
		color: var(--text-white);
		a {
			color: var(--text-white);
			&:hover {
				color: var(--text-white);
			}
		}
	}
}
.mobile-nav-close {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 20px;
	right: 15px;
	span {
		width: 2px;
		height: 100%;
		display: block;
		background-color: var(--bg-white);
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
		&:nth-child(2) {
			-webkit-transform: translate(-50%, -50%) rotate(-45deg);
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}