/*========================================*/
/*-------------- [Style_Dark] ------------*/
/*========================================*/
:root {
  --bg-white: #45454f;
  --bg-silver: #45454f;
  --bg-silver-light: #2e2e3a;
  --text-black: #ffffff;
  --text-silver: #45454f;
  --border-color: #4d4b4b;
  --body-font-color: #cccccc;
  --heading-font-color: var(--text-white);
}
body {
  background-color: var(--secondary-color);
  color: #ccc;
}
[data-overlay-light]:before {
  background: var(--secondary-color);
}
p,
.header-style-two .header-wrapper .header-navigation-area .main-menu ul li a {
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6,
.funfact .counter {
  color: var(--text-white);
}
.bg-secondary-color,
.bg-silver,
.header-style-two .header-wrapper .header-navigation-area,
.header-style-two .header-wrapper .header-navigation-area .main-menu ul li ul.sub-menu,
.header-searchbox-style-two .toggle-searchbox.show {
  background: #353542;
}
.header-style-two .header-wrapper .header-navigation-area .main-menu ul li ul.sub-menu li {
  border-bottom: 1px solid #222537 !important;
}
.client-item img,
.signature img {
  filter: invert(1);
}
.news-wrapper {
  box-shadow: none;
}
.side-panel-content {
  height: 102vh;
}
.person-object:after {
  z-index: 1;
}
.social-list li a {
  background: #212641;
}
.header-style-02 .main-menu .main-menu-inner .main-menu-right .search-toggler {
  border-right: 1px solid rgba(245, 245, 245, 0.1);
}
.about-image-box .experience,
.service-item-box .service-item-content,
.request-a-call-back-form,
.team-block .team-bottom-part,
.testimonial-item,
.news-description,
.news-description,
.news-bottom-part,
.side-panel-content,
.header-style-02 .header-topbar,
.header-style-03 .header-topbar {
  background-color: #45454f;
}
.form-control,
.form-control:focus,
.request-a-call-back-form .custom-select-categories,
.header-searchbox-style-two .toggle-searchbox #searchform-all #s {
  border: 1px solid #4e4e55;
  background: #252531;
  color: #a9a6a6;
}
.form-control {
  &::placeholder {
    color: #a9a6a6;
  }
  &:-ms-input-placeholder {
    color: #a9a6a6;
  }
  &::-ms-input-placeholder {
    color: #a9a6a6;
  }
}
.footer-main-area,
.footer-bottom-area {
  background: #1b1b26;
}
