/*========================================*/
/*------------ [_Section_News] -----------*/
/*========================================*/
.news-wrapper {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  .news-thumb {
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      background: linear-gradient(-60deg, #252531e3, #332304ed);
      height: 100%;
      width: 100%;
      content: "";
      left: 0;
      bottom: 0;
      opacity: 0.15;
      @include transition(all 500ms ease-out 0s);
    }
    img {
      @include transition(all 400ms ease-out 0s);
    }
    .news-top-meta {
      position: absolute;
      bottom: 30px;
      right: 30px;
      background: var(--primary-color);
      color: var(--text-white);
      padding: 5px 18px;
      font-size: 14px;
      @include transition(all 0.4s ease-in-out);
      text-align: center;
      z-index: 1;
    }
    .news-meta {
      width: 210px;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
      text-align: center;
      display: flex;
      z-index: 1;
      a {
        color: var(--text-white);
      }
      i {
        font-size: 15px;
        margin-right: 8px;
        vertical-align: middle;
        color: var(--text-white);
      }
      .admin {
        background: #ececec;
        padding: 2px 20px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-size: 11px;
        color: var(--secondary-color);
        a {
          color: var(--secondary-color);
        }
      }
      .comment {
        background: var(--primary-color);
        padding: 2px 17.9px;
        min-width: 96px;
      }
    }
  }
  .news-description {
    padding: 30px 25px;
    background: var(--bg-white);
    border: 1px solid var(--border-color);
    .news-bottom-meta {
      color: #828c99;
    }
    .the-title {
      margin-bottom: 20px;
    }
    .the-content {
      margin-bottom: 25px;
    }
    .news-bottom-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .post-author {
        display: flex;
        align-items: center;
        span {
          a {
            color: var(--primary-color);
            &:hover {
              color: var(--primary-color);
            }
          }
        }
        .author-img {
          margin-right: 10px;
          img {
            width: 48px;
            border: 2px solid var(--primary-color);
          }
        }
      }
      .post-link {
        color: #a49e98;
        > a {
          text-decoration: underline;
        }
      }
    }
  }
  &:hover {
    .news-thumb {
      img {
        transform: scale(1.1);
      }
      &:after {
        opacity: 0.8;
      }
    }
  }
}
.news-wrapper2 {
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  @media screen and (max-width: 767px) {
    display: inline;
  }
  .news-thumb {
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      background: linear-gradient(-60deg, #252531e3, #332304ed);
      height: 100%;
      width: 100%;
      content: "";
      left: 0;
      bottom: 0;
      opacity: 0.15;
      @include transition(all 500ms ease-out 0s);
    }
    img {
      @include transition(all 400ms ease-out 0s);
    }
    .news-top-meta {
      position: absolute;
      bottom: 30px;
      right: 30px;
      background: var(--primary-color);
      color: var(--text-white);
      padding: 5px 18px;
      font-size: 14px;
      @include transition(all 0.4s ease-in-out);
      text-align: center;
      z-index: 1;
    }
    .news-meta {
      width: 210px;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
      text-align: center;
      display: flex;
      z-index: 1;
      a {
        color: var(--text-white);
      }
      i {
        font-size: 15px;
        margin-right: 8px;
        vertical-align: middle;
        color: var(--text-white);
      }
      .admin {
        background: #ececec;
        padding: 2px 20px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-size: 11px;
        color: var(--secondary-color);
        a {
          color: var(--secondary-color);
        }
      }
      .comment {
        background: var(--primary-color);
        padding: 2px 17.9px;
        min-width: 96px;
      }
    }
  }
  .news-description {
    padding: 30px 25px;
    background: var(--bg-white);
    border: 1px solid var(--border-color);
    .news-bottom-meta {
      color: #828c99;
    }
    .the-title {
      margin-bottom: 20px;
    }
    .the-content {
      margin-bottom: 25px;
    }
    .news-bottom-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .post-author {
        display: flex;
        align-items: center;
        span {
          a {
            color: var(--primary-color);
            &:hover {
              color: var(--primary-color);
            }
          }
        }
        .author-img {
          margin-right: 10px;
          img {
            width: 48px;
            border: 2px solid var(--primary-color);
          }
        }
      }
      .post-link {
        color: #a49e98;
        > a {
          text-decoration: underline;
        }
      }
    }
  }
  &:hover {
    .news-thumb {
      img {
        transform: scale(1.1);
      }
      &:after {
        opacity: 0.8;
      }
    }
  }
}

.default__news-wrapper {
  position: relative;
  display: block;
  margin-bottom: 60px;
  .default__post-thumb {
    position: relative;
    display: block;
    img {
      width: 100%;
    }
  }
  .default__news-content-area {
    position: relative;
    display: block;
    margin-top: 25px;
    .default__news-post-meta {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 10px;
      li {
        position: relative;
        display: block;
        line-height: 26px;
        padding-left: 5px;
        padding-right: 10px;
        a {
          color: #a49e98;
          @include transition(all 500ms ease);
          i {
            color: var(--primary-color);
          }
        }
      }
    }
    .default__news-post-title {
      margin-bottom: 20px;
      font-size: 26px;
      a {
        @include transition(all 500ms ease);
        word-break: break-word;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    .default__news-post-excerpt {
      margin-bottom: 25px;
    }
    .default__news-readmore-btn {
      a {
        &.readmore-btn {
          clear: both;
          background-color: var(--primary-color);
          border-color: var(--primary-color);
          border: 1px solid;
          border-radius: 5px;
          padding: 12px 25px;
          line-height: 1.5em;
          color: var(--text-white);
          font-size: 1em;
          text-transform: none;
          font-weight: 600;
          box-shadow: none;
          display: inline-block;
          @include transition(all 0.2s linear);
          &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
            background-color: var(--bg-white);
          }
        }
      }
    }
  }
  & + .default__news-wrapper {
    margin-top: 15px;
  }
}

// ====================
// Single News Details
// ====================

.single-news-details {
  &.news-wrapper {
    box-shadow: 1px 1px 16px 6px #e8e8e8;
    .single-news-content {
      .news-description {
        padding: 30px 25px;
        background: var(--bg-silver);
      }
    }
  }
}
