/*========================================*/
/*------ [_Section_Single_Service] -------*/
/*========================================*/

.service-description .title {
	margin-bottom: 10px;
}
.service-nav-menu {
	.service-link-list {
		background: var(--bg-silver);
		padding: 40px;
		@media screen and (max-width: 425px){
			padding: 30px;
		}
		ul {
			li {
				a {
					display: block;
					color: var(--heading-font-color);
					padding: 10px 20px;
					@include transition(all 300ms ease-out 0s);
					position: relative;
					z-index: 1;
					background: #f2eae6;
					margin-bottom: 10px;
					font-weight: 500;
					&:before {
						content: "";
						width: 100%;
						left: 0;
						top: 50%;
						height: 0;
						position: absolute;
						transition: all 0.4s ease-out;
						z-index: -1;
					}
					i {
						font-size: 13px;
						margin-right: 15px;
					}
					&:hover {
						color: var(--text-white);
						&:before {
							background-color: var(--primary-color);
							height: 100%;
							top: 0;
						}
					}
				}
				&.active {
					a {
						color: var(--text-white);
						&:before {
							content: "";
							width: 100%;
							left: 0;
							top: 0;
							height: 100%;
							position: absolute;
							transition: all 0.4s ease-out;
							z-index: -1;
							background-color: var(--primary-color);
						}
					}
				}
				&:last-child {
					a {
						border-bottom: none;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.service-section-title-area {
	background: var(--bg-blue-color);
	padding: 90px 0 240px;
	margin: 0 110px;
	margin-top: -180px;
}
.service-section-content {
	margin-top: -180px;
}
.service-features-icon {
	margin-right: 25px;
}
.service-features-icon span {
	background: var(--primary-color);
	padding: 15px;
	display: inline-block;
	border-radius: 8px;
}
.service-features-icon span:before {
	font-size: 42px;
	line-height: 42px;
	color: #fff;
}