/*========================================*/
/*---------- [_Section_Team] -------------*/
/*========================================*/

.team-block-style1 {
	.team-upper-part {
		position: relative;
		overflow: hidden;
		img {
			@include transition(all .4s ease-out 0s);
			@include transform(scale(1));
		}
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background: var(--secondary-color);
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			@include transition(all .5s ease-out 0s);
		}
		&:after {
			content: "";
			position: absolute;
			background: var(--primary-color);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			opacity: 0.15;
			@include transition(all .5s ease-out 0s);
			@include transform(skewY(-65deg));
		}
		.social-list {
			position: absolute;
			bottom: 30px;
			right: 30px;
			z-index: 1;
			&.vertical-style {
				li {
					float: none;
					display: list-item;
					margin-right: 5px;
					margin-bottom: 5px;
					opacity: 0;
					@include transition(all 0.2s ease-in-out);
					a {
						border-radius: 4px;
						background: var(--primary-color);
					}
					transform: translateY(5px);
					&:nth-child(1) {
						transform: translateY(15px);
					}
					&:nth-child(2) {
						transform: translateY(15px);
					}
					&:nth-child(3) {
						transform: translateY(15px);
					}
				}
			}
		}
	}
	.team-bottom-part {
		background: var(--bg-silver);
		padding: 20px;
		position: relative;
		text-align: center;
		&:after {
			background: var(--primary-color);
			height: 50px;
			width: 2px;
			left: 0;
			top: 30px;
			content: "";
			@include transition(all 0.4s ease-in-out);
			position: absolute;
			z-index: 0;
		}
		&:before {
			background: var(--primary-color);
			height: 50px;
			width: 2px;
			right: 0;
			bottom: 20px;
			content: "";
			@include transition(all 0.4s ease-in-out);
			position: absolute;
			z-index: 0;
		}
		.designation {
			color: var(--primary-color);
		}
	}
	&:hover {
		.team-upper-part {
			img {
				@include transform(scale(1.08));
			}
			&:before {
				opacity: 0.5;
			}
			&:after {
				@include transform(translateY(-160%) skewY(-65deg));
				opacity: 0;
			}
			.social-list {
				&.vertical-style {
					li {
						opacity: 1;
						transform: translateY(0px);
						transition-delay: .15s;
						&:nth-child(1) {
							transform: translateY(0px);
							transition-delay: .3s;
						}
						&:nth-child(2) {
							transform: translateY(0px);
							transition-delay: .25s;
						}
						&:nth-child(3) {
							transform: translateY(0px);
							transition-delay: .2s;
						}
					}
				}
			}
		}
		.team-bottom-part {
			&:after {
				height: 100%;
				width: 100%;
				z-index: 0;
				top: 0;
			}
			&:before {
				width: 100%;
				height: 100%;
				z-index: 0;
				bottom: 0;
			}
			.team-title {
				z-index: 1;
				color: var(--text-white);
				position: sticky;
				a {
					color: var(--text-white);
				}
			}
			.designation {
				z-index: 1;
				position: sticky;
				color: var(--text-white);
			}
		}
	}
}
.team-block-style2 {
	position: relative;
	.team-upper-part {
		position: relative;
		text-align: center;
		overflow: hidden;
		img {
			@include transition(all .4s ease-out 0s);
			@include transform(scale(1));
		}
		.social-list {
			position: absolute;
			bottom: 38px;
			left: 0;
			right: 0;
			@include transition(all .4s ease-out 0s);
			opacity: 0;
			z-index: 1;
			li {
				a {
					background: var(--bg-white);
					color: var(--primary-color);
					&:hover {
						color: var(--text-white);
						background: var(--primary-color);
					}
				}
			}
		}
		&:after {
			content: "";
			background: var(--secondary-color);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			bottom: 0;
			opacity: 0;
			@include transform(scaleX(0));
			@include transition(all .4s ease-out 0s);
		}
	}
	.team-bottom-part {
		text-align: center;
		padding: 20px 20px;
		position: relative;
		background: var(--bg-white);
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
		.designation {
			color: #54515a;
			font-weight: 400;
		}
	}
	&:hover {
		.team-upper-part {
			img {
				filter: grayscale(1);
				@include transform(scale(1.08));
			}
			.social-list {
				bottom: 20px;
				opacity: 1;
			}
			&:after {
				opacity: 0.5;
				@include transform(scaleX(1));
			}
		}
		.team-bottom-part {
		}
	}
}
.team-block-style3 {
	position: relative;
	margin-bottom:25px;
	z-index: 1;
	box-shadow:  0px 3px 10px rgba(5, 17, 69, 0.06);
	@include transition(0.4s);
	.team-upper-part {
		position: relative;
		text-align: center;
		overflow: hidden;
		img {
			display: block;
			margin: 0 auto;
			@include transition(all .6s ease-out 0s);
			@include transform(scale(1));
		}
		&:after {
			content: "";
			background: var(--secondary-color);
			position: absolute;
			height: 0;
			width: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			@include transition(all .4s ease-out 0s);
		}
	}
	.team-bottom-part{
		background-color: var(--bg-white);
		padding: 20px 30px 16px 30px;
		position: relative;
		.team-social {
			position: absolute;
			top: 30px;
			right: 5px;
			width: 40px;
			height: 40px;
			margin-right: 25px;
			text-align: center;
			background-color: var(--primary-color);
			i {
				color: var(--text-white);
				font-size: 18px;
				font-weight: 200;
				line-height: 40px;
				margin: 0 auto;
				cursor: pointer;
			}
			.social-list {
				position: absolute;
				bottom: 0;
				left: 0;
				min-height: 100%;
				visibility: hidden;
				opacity: 0;
				z-index: 1;
				@include transition(all .4s ease-out 0s);
				li{
					display: block;
					margin: 0;
					&:last-child {
						margin-bottom: 0;
					}
					a {
						width: 40px;
						height: 40px;
						margin-bottom: 5px;
						border-radius: 0;
						background-color: var(--bg-white);
						box-shadow: 0px 5px 20px rgba(5, 17, 69, 0.08);
						i {
							color: var(--primary-color);
							font-size: 16px;
							margin: 0 auto;
						}
						&:hover {
							background-color: var(--primary-color);
							i {
								color: var(--text-white);
							}
						}
					}
				}
			}
			&:hover {
				.social-list {
					visibility: visible;
					opacity: 1;
					bottom: calc(100% + 5px);
				}
			}
		}
		.team-title {
			margin: 0 0 2px;
		}
		.designation {
			color: var(--primary-color);
		}
	}
	&:hover {
		.team-upper-part {
			img {
				filter: grayscale(1);
				@include transform(scale(1.1) rotate(-2deg));
			}
			&:after {
				opacity: 0.5;
				height: 100%;
			}
		}
	}
}