/*=================================================*/
/*-------------- [Pricing_Tables] -----------------*/
/*=================================================*/
.price-table {
	position: relative;
	display: block;
	padding: 0 45px 45px 45px;
	background: var(--bg-white);
	@include transition(all 300ms ease-out 0s);
	.table-header {
		position: relative;
		display: block;
		.pricing-plan-name {
			position: relative;
			display: block;
			font-size: 16px;
			line-height: 42px;
			color: var(--text-white);
			font-weight: 600;
			background: var(--primary-color);
			margin-bottom: 45px;
			letter-spacing: 1px;
		}
		.price-wrap {
			font-size: 45px;
			margin-bottom: 25px;
			.price-currency {
				display: inline-block;
				font-size: 24px;
				line-height: 1.3;
				color: inherit;
				vertical-align: bottom;
				margin-bottom: 3px;
			}
			.price-amount {
				display: inline-block;
				z-index: 1;
				padding-bottom: 2px;
				font-weight: 600;
				color: var(--heading-font-color);
			}
			.price-unit {
				display: inline-block;
				vertical-align: bottom;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
	.table-content {
		position: relative;
		display: block;
		margin-bottom: 30px;
		.list-items li {
			padding: 8px 0;
			.check-color {
				color: #0bc05f;
			}
			.cross-color {
				color: #ff2e57;
			}
		}
	}
	.table-footer {
		.animate-btn-style2 {
			font-size: 13px;
		}
	}
	&.active {
		@include box-shadow(0 10px 26px rgba(0, 0, 0, 0.2));
		@include transform(scale(1.05));
	}
	.recommended {
		position: absolute;
		top: -20px;
		right: 0;
		left: 0;
		padding: 3px;
		background: #b62b7d;
		margin: 0 auto;
		width: 40%;
		border-radius: 30px;
		color: var(--text-white);
		font-size: 13px;
	}
}

//Pricing Switch
.pricing-switcher {
	display: flex;
	flex-direction: column;
	align-items: center;
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		vertical-align: middle;
		margin: 0 12px;
		input {
			opacity: 0;
			width: 0;
			height: 0;
			&:checked + {
				.slider {
					background-color: var(--primary-color2);
					&:before {
						-webkit-transform: translateX(26px);
						-ms-transform: translateX(26px);
						transform: translateX(26px);
					}
				}
			}
		}
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--primary-color);
			-webkit-transition: 0.4s;
			transform: translate(0px, 0px);
			transition: 0.6s ease transform, 0.6s box-shadow;
			&:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
			&.round {
				border-radius: 34px;
				&:before {
					border-radius: 50%;
				}
			}
		}
	}
}
.monthlyPrice {
	display: none;
}
.yearlyPrice, .monthlyPrice {
	font-size: 28px;
	background: var(--bg-white);
	padding: 30px 15px;
}