/*========================================*/
/*------------- [_Title_Lines] -----------*/
/*========================================*/
.side-line-left {
	position: relative;
	padding-left: 70px;
	font-weight: 500;
	margin-bottom: 10px;
	&:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 50px;
		background: var(--primary-color);
		left: 10px;
		bottom: 12px;
	}
	&:before {
		content: "";
		height: 2px;
		width: 50px;
		position: absolute;
		left: 0;
		bottom: 8px;
		background: var(--primary-color);
	}
	&.white {
		&:after {
			background: var(--bg-white);
			box-shadow: 0 0 0px 8px rgba(255,255,255,0.2);
		}
	}
}
.sub-title-line-bottom {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	z-index: 1;
	color: var(--primary-color);
	font-weight: 400;
	font-family: var(--body-font);
	margin-bottom: 10px;
	&:before {
		content: "";
		position: absolute;
		bottom: 3px;
		left: -5px;
		right: -5px;
		height: 6px;
		background-color: #efe8de;
		z-index: -1;
	}
}