/*========================================*/
/*------------- [_Video_Popup] -----------*/
/*========================================*/
.image-video-block {
	position: relative;
	display: flex;
	align-items: center;
	.video-link {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;;
		a {
			display: inline-block;
			i {
				display: inline-block;
				position: relative;
				height: 65px;
				width: 64px;
				line-height: 64px;
				background: var(--bg-white);
				border-radius: 50%;
				z-index: 3;
				&::before {
					font-size: 16px;
					color: var(--primary-color);
					border-radius: 50%;
					z-index: 3;
					position: relative;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-color: var(--bg-white);
					border-radius: 50%;
					animation: pulse-border-2 1s ease-out infinite;
					z-index: 0;
				}
			}
		}
	}
}
.video-block {
	display: inline-block;
	.video-link {
		text-align: center;;
		a {
			display: inline-block;
			i {
				display: inline-block;
				position: relative;
				height: 75px;
				width: 75px;
				line-height: 75px;
				background: #b98e75;
				border-radius: 50%;
				z-index: 3;
				border: 1px solid #ffffff1a;
				&::before {
					font-size: 18px;
					color: var(--text-white);
					border-radius: 50%;
					z-index: 3;
					position: relative;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-color: #ad836ab8;
					border-radius: 50%;
					animation: pulse-border-2 1s ease-out infinite;
					z-index: 0;
					border: 1px solid #b98e75;
				}
			}
		}
	}
}